<?xml version="1.0" encoding="utf-8"?>
<robot
  name="SpiderBot_3Legs">
  <link
    name="body">
    <inertial>
      <origin
        xyz="-1.6455E-06 -2.7132E-06 0.13522"
        rpy="0 0 0" />
      <mass
        value="1.9509" />
      <inertia
        ixx="0.0068935"
        ixy="-1.5477E-07"
        ixz="-1.6748E-08"
        iyy="0.0068934"
        iyz="-2.768E-08"
        izz="0.012599" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_L1_J1">
    <inertial>
      <origin
        xyz="0.0208533170560279 5.55111512312578E-17 -0.0120000000000001"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321664" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="1.45583787809333E-21"
        ixz="1.62186169348837E-20"
        iyy="2.95388816018321E-06"
        iyz="-8.55851251114889E-22"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J1"
    type="revolute">
    <origin
      xyz="0.108832033144844 -0.108832033144843 0.118000000000001"
      rpy="3.14159265358978 0 -0.785398163397437" />
    <parent
      link="body" />
    <child
      link="link_L1_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L1_J2">
    <inertial>
      <origin
        xyz="1.2490009027033E-16 -8.32667268468867E-17 0.0509087121146357"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="3.3881317890172E-21"
        ixz="-6.62009187838439E-20"
        iyy="2.39989247736348E-05"
        iyz="5.15631306641055E-20"
        izz="1.16162974067387E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567685 0 -0.0119999999999972"
      rpy="-2.6179938779915 0 -1.5707963267949" />
    <parent
      link="link_L1_J1" />
    <child
      link="link_L1_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L1_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 5.55111512312578E-17 -1.80411241501588E-16"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="3.45430623802144E-20"
        ixz="-3.94664413861301E-20"
        iyy="3.82502554199004E-05"
        iyz="0"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229271"
      rpy="1.5707963267949 -0.523598775598305 1.57079632679489" />
    <parent
      link="link_L1_J2" />
    <child
      link="link_L1_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L1_J4">
    <inertial>
      <origin
        xyz="-2.43606079752823E-10 -0.00336940912784056 -0.0483315670397482"
        rpy="0 0 0" />
      <mass
        value="0.0205677845340441" />
      <inertia
        ixx="2.06704743841636E-05"
        ixy="2.0589781913943E-14"
        ixz="1.55720656617302E-13"
        iyy="2.05646985832854E-05"
        iyz="-2.80021798240062E-06"
        izz="1.64193171564564E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L1_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.57079630572147 0" />
    <parent
      link="link_L1_J3" />
    <child
      link="link_L1_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J1">
    <inertial>
      <origin
        xyz="0.020853317056028 2.58745562202825E-15 -0.0120000000000005"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321663" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="4.83735718269588E-20"
        ixz="-7.61119860771085E-22"
        iyy="2.95388816018321E-06"
        iyz="-7.75333643384985E-23"
        izz="3.07273769122765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J1"
    type="revolute">
    <origin
      xyz="-0.12 0 0.118"
      rpy="3.14159265358979 0 -3.14159265358979" />
    <parent
      link="body" />
    <child
      link="link_L2_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J2">
    <inertial>
      <origin
        xyz="-1.61680449544841E-15 4.16333634234434E-17 -0.0509087121146357"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659542" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="9.24704574709577E-21"
        ixz="2.99752773227615E-19"
        iyy="2.39989247736348E-05"
        iyz="3.65282958503418E-21"
        izz="1.16162974067387E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567663 0 -0.0120000000000009"
      rpy="0.523598775598319 0 -1.5707963267949" />
    <parent
      link="link_L2_J1" />
    <child
      link="link_L2_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 0 -7.01622119351565E-16"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="-3.57342024622908E-21"
        ixz="2.66523269546072E-19"
        iyy="3.82502554199004E-05"
        iyz="-2.6725429713548E-21"
        izz="3.83846267529607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J3"
    type="revolute">
    <origin
      xyz="0 0 -0.101817424229271"
      rpy="-1.5707963267949 0.5235987755983 -1.5707963267949" />
    <parent
      link="link_L2_J2" />
    <child
      link="link_L2_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J4">
    <inertial>
      <origin
        xyz="-2.5622234820109E-10 -0.0401716602985852 0.0270837774161724"
        rpy="0 0 0" />
      <mass
        value="0.0205677845321001" />
      <inertia
        ixx="2.06704743858935E-05"
        ixy="1.31912105773198E-13"
        ixz="-9.97094644617843E-14"
        iyy="8.797683345262E-06"
        iyz="9.59390740268683E-06"
        izz="1.34089469552678E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L2_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="2.09439510239322 1.5707963267949 0" />
    <parent
      link="link_L2_J3" />
    <child
      link="link_L2_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J1">
    <inertial>
      <origin
        xyz="0.0208533170560279 -9.71445146547012E-17 -0.0120000000000002"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321664" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="-1.85288457211878E-22"
        ixz="1.61571029135456E-20"
        iyy="2.95388816018321E-06"
        iyz="9.35076574667276E-22"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J1"
    type="revolute">
    <origin
      xyz="0.108832033144843 0.108832033144844 0.118000000000001"
      rpy="-3.14159265358979 0 0.785398163397464" />
    <parent
      link="body" />
    <child
      link="link_L3_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J2">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 -6.28663787693995E-15 0.0509087121146328"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659542" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="8.470329472543E-22"
        ixz="-1.91905902112302E-20"
        iyy="2.39989247736348E-05"
        iyz="3.36430898737567E-20"
        izz="1.16162974067387E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567665 0 -0.0120000000000004"
      rpy="-2.61799387799149 0 -1.5707963267949" />
    <parent
      link="link_L3_J1" />
    <child
      link="link_L3_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146358 0 1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="-4.56603698129271E-20"
        ixz="4.22987078035116E-20"
        iyy="3.82502554199004E-05"
        iyz="-5.0821976835258E-21"
        izz="3.83846267529607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229268"
      rpy="1.5707963267949 -0.523598775598301 1.5707963267949" />
    <parent
      link="link_L3_J2" />
    <child
      link="link_L3_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J4">
    <inertial>
      <origin
        xyz="-2.4360616301955E-10 -0.00336940912784056 -0.0483315670397482"
        rpy="0 0 0" />
      <mass
        value="0.020567784534044" />
      <inertia
        ixx="2.06704743841635E-05"
        ixy="2.05897853020748E-14"
        ixz="1.55720700768894E-13"
        iyy="2.05646985832853E-05"
        iyz="-2.80021798240061E-06"
        izz="1.64193171564563E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_3Legs/meshes/link_L3_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L3_J3" />
    <child
      link="link_L3_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>