<?xml version="1.0" encoding="utf-8"?>

<robot
  name="SpiderBot_8Legs">
  <link
    name="body">
    <inertial>
      <origin
        xyz="-1.6455E-06 -2.7132E-06 0.13522"
        rpy="0 0 0" />
      <mass
        value="1.9509" />
      <inertia
        ixx="0.0068935"
        ixy="-1.5477E-07"
        ixz="-1.6748E-08"
        iyy="0.0068934"
        iyz="-2.768E-08"
        izz="0.012599" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_L1_J1">
    <inertial>
      <origin
        xyz="0.0208533170560279 5.55111512312578E-17 -0.0120000000000001"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321664" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="1.48230765769503E-21"
        ixz="1.62191206973846E-20"
        iyy="2.95388816018321E-06"
        iyz="-8.55691343721213E-22"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J1"
    type="revolute">
    <origin
      xyz="0.108832033144844 -0.108832033144843 0.118000000000001"
      rpy="3.14159265358978 0 -0.785398163397437" />
    <parent
      link="body" />
    <child
      link="link_L1_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L1_J2">
    <inertial>
      <origin
        xyz="1.2490009027033E-16 -9.71445146547012E-17 0.0509087121146357"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="1.6940658945086E-21"
        ixz="-6.64126770206575E-20"
        iyy="2.39989247736348E-05"
        iyz="5.4924792673521E-20"
        izz="1.16162974067388E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567685 0 -0.0119999999999972"
      rpy="-2.6179938779915 0 -1.5707963267949" />
    <parent
      link="link_L1_J1" />
    <child
      link="link_L1_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L1_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 5.55111512312578E-17 -1.80411241501588E-16"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="3.67400540871553E-20"
        ixz="-4.2960452293554E-20"
        iyy="3.82502554199004E-05"
        iyz="3.3881317890172E-21"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229271"
      rpy="1.5707963267949 -0.523598775598305 1.57079632679489" />
    <parent
      link="link_L1_J2" />
    <child
      link="link_L1_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L1_J4">
    <inertial>
      <origin
        xyz="-2.43606107508398E-10 -0.00336940912784062 -0.0483315670397481"
        rpy="0 0 0" />
      <mass
        value="0.0205677845340441" />
      <inertia
        ixx="2.06704743841636E-05"
        ixy="2.0589781913943E-14"
        ixz="1.55720656087906E-13"
        iyy="2.05646985832854E-05"
        iyz="-2.80021798240062E-06"
        izz="1.64193171564564E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L1_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L1_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.57079630572147 0" />
    <parent
      link="link_L1_J3" />
    <child
      link="link_L1_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J1">
    <inertial>
      <origin
        xyz="0.0208533170560278 1.39608917830608E-15 -0.0120000000000003"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321663" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="8.77009254019188E-20"
        ixz="1.82209679161877E-20"
        iyy="2.95388816018321E-06"
        iyz="8.18836950869645E-22"
        izz="3.07273769122765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J1"
    type="revolute">
    <origin
      xyz="0 -0.119999999999998 0.118000000000001"
      rpy="-3.14159265358979 0 -1.5707963267949" />
    <parent
      link="body" />
    <child
      link="link_L2_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J2">
    <inertial>
      <origin
        xyz="1.85556077463149E-16 1.52655665885959E-16 0.0509087121146356"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="-1.90905415296481E-20"
        ixz="-4.90617417578581E-19"
        iyy="2.39989247736348E-05"
        iyz="-3.03343674235446E-20"
        izz="1.16162974067388E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567693 0 -0.0119999999999971"
      rpy="-2.61799387799148 0 -1.5707963267949" />
    <parent
      link="link_L2_J1" />
    <child
      link="link_L2_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 1.11022302462516E-16 1.24722336855482E-15"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.02849856095079E-06"
        ixy="3.99693671985623E-20"
        ixz="2.22812698519559E-21"
        iyy="3.82502554199004E-05"
        iyz="-3.52278231476089E-22"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229271"
      rpy="1.57079632679492 -0.5235987755983 1.57079632679491" />
    <parent
      link="link_L2_J2" />
    <child
      link="link_L2_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L2_J4">
    <inertial>
      <origin
        xyz="-2.5622596243973E-10 -0.00336940912355477 -0.0483315670388598"
        rpy="0 0 0" />
      <mass
        value="0.0205677845321001" />
      <inertia
        ixx="2.06704743858935E-05"
        ixy="2.0394845510423E-14"
        ixz="1.6409379487464E-13"
        iyy="2.05646985850489E-05"
        iyz="-2.80021798643706E-06"
        izz="1.64193171548092E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L2_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L2_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L2_J3" />
    <child
      link="link_L2_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J1">
    <inertial>
      <origin
        xyz="0.0208533170560279 -1.38777878078145E-17 -0.0120000000000004"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321663" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="3.70576914423756E-22"
        ixz="-6.69667750469574E-22"
        iyy="2.95388816018321E-06"
        iyz="-4.36347195670013E-23"
        izz="3.07273769122765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J1"
    type="revolute">
    <origin
      xyz="-0.108832033144843 -0.108832033144843 0.118000000000001"
      rpy="3.14159265358979 0 -2.35619449019234" />
    <parent
      link="body" />
    <child
      link="link_L3_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J2">
    <inertial>
      <origin
        xyz="1.80411241501588E-16 2.63677968348475E-16 0.0509087121146358"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="1.6940658945086E-21"
        ixz="-8.99707808661677E-20"
        iyy="2.39989247736348E-05"
        iyz="-1.16784667602687E-19"
        izz="1.16162974067388E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567658 0 -0.0120000000000016"
      rpy="-2.61799387799149 0 -1.5707963267949" />
    <parent
      link="link_L3_J1" />
    <child
      link="link_L3_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 -5.55111512312578E-17 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.02849856095081E-06"
        ixy="-6.74979379843271E-22"
        ixz="5.8074696446123E-20"
        iyy="3.82502554199004E-05"
        iyz="-3.3881317890172E-21"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229271"
      rpy="1.5707963267949 -0.523598775598299 1.57079632679489" />
    <parent
      link="link_L3_J2" />
    <child
      link="link_L3_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L3_J4">
    <inertial>
      <origin
        xyz="-2.4360616301955E-10 -0.00336940912784078 -0.0483315670397482"
        rpy="0 0 0" />
      <mass
        value="0.020567784534044" />
      <inertia
        ixx="2.06704743841635E-05"
        ixy="2.05897802198771E-14"
        ixz="1.55720654711478E-13"
        iyy="2.05646985832853E-05"
        iyz="-2.80021798240069E-06"
        izz="1.64193171564566E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L3_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L3_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L3_J3" />
    <child
      link="link_L3_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L4_J1">
    <inertial>
      <origin
        xyz="0.0208533170560279 2.58746451344178E-15 -0.0120000000000006"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321663" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="4.83735718269588E-20"
        ixz="-7.61119860771082E-22"
        iyy="2.95388816018321E-06"
        iyz="-7.75333643384985E-23"
        izz="3.07273769122765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L4_J1"
    type="revolute">
    <origin
      xyz="-0.12 0 0.118"
      rpy="3.14159265358979 0 -3.14159265358979" />
    <parent
      link="body" />
    <child
      link="link_L4_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L4_J2">
    <inertial>
      <origin
        xyz="-1.61680449544841E-15 4.16333634234434E-17 -0.0509087121146357"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="9.24704574709577E-21"
        ixz="2.99752773227615E-19"
        iyy="2.39989247736348E-05"
        iyz="3.86458782184775E-21"
        izz="1.16162974067388E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L4_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567663 0 -0.0120000000000009"
      rpy="0.523598775598319 0 -1.5707963267949" />
    <parent
      link="link_L4_J1" />
    <child
      link="link_L4_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L4_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 0 -7.01622119351565E-16"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="-3.57342024622908E-21"
        ixz="2.66523269546072E-19"
        iyy="3.82502554199004E-05"
        iyz="-2.6725429713548E-21"
        izz="3.83846267529607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L4_J3"
    type="revolute">
    <origin
      xyz="0 0 -0.101817424229271"
      rpy="-1.5707963267949 0.5235987755983 -1.5707963267949" />
    <parent
      link="link_L4_J2" />
    <child
      link="link_L4_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L4_J4">
    <inertial>
      <origin
        xyz="-2.56222348522828E-10 -0.0401716602985852 0.0270837774161724"
        rpy="0 0 0" />
      <mass
        value="0.0205677845321001" />
      <inertia
        ixx="2.06704743858935E-05"
        ixy="1.31912105750755E-13"
        ixz="-9.97094644616563E-14"
        iyy="8.797683345262E-06"
        iyz="9.59390740268683E-06"
        izz="1.34089469552678E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L4_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L4_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="2.09439510239322 1.5707963267949 0" />
    <parent
      link="link_L4_J3" />
    <child
      link="link_L4_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L5_J1">
    <inertial>
      <origin
        xyz="0.0208533170560279 -2.77555756156289E-17 -0.0120000000000006"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321663" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="1.27054942088145E-21"
        ixz="-7.47380327368677E-22"
        iyy="2.95388816018321E-06"
        iyz="8.75808333581437E-23"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L5_J1"
    type="revolute">
    <origin
      xyz="-0.108832033144842 0.108832033144844 0.118"
      rpy="3.14159265358979 0 2.35619449019236" />
    <parent
      link="body" />
    <child
      link="link_L5_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L5_J2">
    <inertial>
      <origin
        xyz="4.16333634234434E-17 -4.16333634234434E-17 0.0509087121146357"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="3.3881317890172E-21"
        ixz="-5.00278834472071E-21"
        iyy="2.39989247736348E-05"
        iyz="1.27054942088145E-21"
        izz="1.16162974067387E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L5_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567659 0 -0.0120000000000015"
      rpy="-2.61799387799148 0 -1.5707963267949" />
    <parent
      link="link_L5_J1" />
    <child
      link="link_L5_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L5_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146358 -5.55111512312578E-17 6.93889390390723E-17"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.02849856095081E-06"
        ixy="-9.66146955461936E-21"
        ixz="1.41878018665095E-20"
        iyy="3.82502554199004E-05"
        iyz="-3.3881317890172E-21"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L5_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229271"
      rpy="1.5707963267949 -0.523598775598301 1.57079632679489" />
    <parent
      link="link_L5_J2" />
    <child
      link="link_L5_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L5_J4">
    <inertial>
      <origin
        xyz="-2.43605996486096E-10 -0.00336940912784089 -0.0483315670397481"
        rpy="0 0 0" />
      <mass
        value="0.0205677845340441" />
      <inertia
        ixx="2.06704743841636E-05"
        ixy="2.05897903842725E-14"
        ixz="1.55720716756641E-13"
        iyy="2.05646985832853E-05"
        iyz="-2.80021798240075E-06"
        izz="1.64193171564568E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L5_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L5_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L5_J3" />
    <child
      link="link_L5_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L6_J1">
    <inertial>
      <origin
        xyz="0.0208533170560278 -1.41577608159169E-15 -0.0120000000000006"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321665" />
      <inertia
        ixx="6.35237498388446E-07"
        ixy="4.05022838286021E-20"
        ixz="1.77107172923625E-20"
        iyy="2.95388816018322E-06"
        iyz="1.22391639046935E-22"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L6_J1"
    type="revolute">
    <origin
      xyz="0 0.120000000000001 0.118"
      rpy="3.14159265358979 0 1.5707963267949" />
    <parent
      link="body" />
    <child
      link="link_L6_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L6_J2">
    <inertial>
      <origin
        xyz="0.0100000000000021 -0.0225705080756829 0.0777962074884351"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="-9.40119986034315E-21"
        ixz="-2.10493938222404E-19"
        iyy="2.39989247736348E-05"
        iyz="2.06464280893236E-21"
        izz="1.16162974067387E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L6_J2"
    type="revolute">
    <origin
      xyz="0 0.01 0"
      rpy="-2.61799387799148 0 -1.5707963267949" />
    <parent
      link="link_L6_J1" />
    <child
      link="link_L6_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L6_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 5.55111512312578E-17 0.00750000000000004"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="-1.85288457211878E-22"
        ixz="-9.73845013888014E-22"
        iyy="3.82502554199004E-05"
        iyz="-1.45519749587943E-22"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L6_J3"
    type="revolute">
    <origin
      xyz="0.00250000000000243 -0.0225705080756833 0.128704919603071"
      rpy="1.57079632679491 -0.523598775598298 1.57079632679491" />
    <parent
      link="link_L6_J2" />
    <child
      link="link_L6_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L6_J4">
    <inertial>
      <origin
        xyz="-0.00750000025622259 -0.00336940912355493 -0.0483315670388597"
        rpy="0 0 0" />
      <mass
        value="0.0205677845321" />
      <inertia
        ixx="2.06704743858935E-05"
        ixy="2.03948818349883E-14"
        ixz="1.64093990121754E-13"
        iyy="2.05646985850488E-05"
        iyz="-2.80021798643706E-06"
        izz="1.64193171548092E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L6_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L6_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229272 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L6_J3" />
    <child
      link="link_L6_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L7_J1">
    <inertial>
      <origin
        xyz="0.0208533170560278 -9.71445146547012E-17 -0.0120000000000002"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321664" />
      <inertia
        ixx="6.35237498388445E-07"
        ixy="-2.38228016415272E-22"
        ixz="1.61567422050601E-20"
        iyy="2.95388816018321E-06"
        iyz="9.3522541804904E-22"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L7_J1"
    type="revolute">
    <origin
      xyz="0.108832033144843 0.108832033144844 0.118000000000001"
      rpy="-3.14159265358979 0 0.785398163397464" />
    <parent
      link="body" />
    <child
      link="link_L7_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L7_J2">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 -6.28663787693995E-15 0.0509087121146328"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659542" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="8.470329472543E-22"
        ixz="-1.88994226356116E-20"
        iyy="2.39989247736348E-05"
        iyz="3.35901503145533E-20"
        izz="1.16162974067387E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L7_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567665 0 -0.0120000000000004"
      rpy="-2.61799387799149 0 -1.5707963267949" />
    <parent
      link="link_L7_J1" />
    <child
      link="link_L7_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L7_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146358 -5.55111512312578E-17 1.66533453693773E-16"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="-5.00543532268088E-20"
        ixz="3.99164276393589E-20"
        iyy="3.82502554199004E-05"
        iyz="-1.6940658945086E-21"
        izz="3.83846267529607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L7_J3"
    type="revolute">
    <origin
      xyz="0 0 0.101817424229268"
      rpy="1.5707963267949 -0.523598775598301 1.5707963267949" />
    <parent
      link="link_L7_J2" />
    <child
      link="link_L7_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L7_J4">
    <inertial>
      <origin
        xyz="-2.4360616301955E-10 -0.00336940912784056 -0.0483315670397482"
        rpy="0 0 0" />
      <mass
        value="0.020567784534044" />
      <inertia
        ixx="2.06704743841635E-05"
        ixy="2.05897853020748E-14"
        ixz="1.55720701404169E-13"
        iyy="2.05646985832853E-05"
        iyz="-2.80021798240061E-06"
        izz="1.64193171564563E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L7_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L7_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L7_J3" />
    <child
      link="link_L7_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L8_J1">
    <inertial>
      <origin
        xyz="0.0208533170560278 -1.13000530911832E-15 -0.0120000000000002"
        rpy="0 0 0" />
      <mass
        value="0.00957341037321665" />
      <inertia
        ixx="6.35237498388446E-07"
        ixy="2.00725901037101E-20"
        ixz="2.04194151698339E-20"
        iyy="2.95388816018322E-06"
        iyz="-5.811657690722E-23"
        izz="3.07273769122766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L8_J1"
    type="revolute">
    <origin
      xyz="0.119999999999998 0 0.118000000000001"
      rpy="3.14159265358979 0 0" />
    <parent
      link="body" />
    <child
      link="link_L8_J1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L8_J2">
    <inertial>
      <origin
        xyz="5.10979657768825E-15 0.0440882379652246 -0.0254543560573129"
        rpy="0 0 0" />
      <mass
        value="0.0214270498659543" />
      <inertia
        ixx="2.34021439622059E-05"
        ixy="-3.22586827164549E-19"
        ixz="2.01825238588603E-19"
        iyy="6.87095349891357E-06"
        iyz="9.88883882613186E-06"
        izz="1.82896010153951E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L8_J2"
    type="revolute">
    <origin
      xyz="0.0329903810567663 0 -0.0120000000000003"
      rpy="-0.523598775598312 0 -1.5707963267949" />
    <parent
      link="link_L8_J1" />
    <child
      link="link_L8_J2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L8_J3">
    <inertial>
      <origin
        xyz="-0.0509087121146357 -5.55111512312578E-17 6.49061880216727E-15"
        rpy="0 0 0" />
      <mass
        value="0.0238433927437446" />
      <inertia
        ixx="1.0284985609508E-06"
        ixy="-7.0462553299712E-20"
        ixz="3.98318809837147E-19"
        iyy="3.82502554199004E-05"
        iyz="-1.13065397155405E-22"
        izz="3.83846267529608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L8_J3"
    type="revolute">
    <origin
      xyz="0 0.0881764759304484 -0.0509087121146295"
      rpy="0 1.5707963267949 0" />
    <parent
      link="link_L8_J2" />
    <child
      link="link_L8_J3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_L8_J4">
    <inertial>
      <origin
        xyz="-2.56229826014434E-10 0.00336940912355471 0.0483315670388599"
        rpy="0 0 0" />
      <mass
        value="0.0205677845321001" />
      <inertia
        ixx="2.06704743858935E-05"
        ixy="-2.03948678721592E-14"
        ixz="-1.64093919566124E-13"
        iyy="2.05646985850489E-05"
        iyz="-2.80021798643706E-06"
        izz="1.64193171548093E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SpiderBot_8Legs/meshes/link_L8_J4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L8_J4"
    type="revolute">
    <origin
      xyz="-0.101817424229271 0 0"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="link_L8_J3" />
    <child
      link="link_L8_J4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>